.Person {
  display: grid;
  place-items: center;
  background-color: rgb(234, 234, 239);
  width: 220px;
  margin: 10px;
  border: 1px solid rgb(32, 164, 225);
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(112, 127, 241);
  cursor: pointer;

  animation: animate  3s infinite linear;

  &__name {
    color: rgb(129, 8, 194);
  }

  &__age {
    color: rgb(133, 4, 147);
  }

  &__partner {
    color: rgb(134, 4, 166);
  }

  &:hover {
    animation: spin 3s infinite linear;
  }

}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes animate {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 24, 113, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(148, 12, 28, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(27, 4, 81, 0);
  }
}
