iframe {
  display: none;
}

:root {
  background-color: #ffd95a;
  color: #4c3d3d;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
