body {
  background-color: rgb(53, 58, 49);
  font-family: Arial, Helvetica, sans-serif;
}

.person {
  width: 300px;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: auto;
  padding: 30px;
  border: 1px solid rgb(231, 229, 229);
  border-radius: 8px;
  background-color: rgb(83, 83, 83);
  color: white;

  &__name {
    margin-top: 8px;
  }

  &__age {
    font-weight: bold;
  }
}
