body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #4a536b;
  background-color: #aed6dc;
}
